
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'permission.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'permission.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'permission.actionPermission' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'permission.actionPermission' | translate}}" autofocus  id="1" [(ngModel)]="item.actionPermission.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'permission.modelPermission' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'permission.modelPermission' | translate}}" autofocus  id="2" [(ngModel)]="item.modelPermission.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'permission.subAttribute' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'permission.subAttribute' | translate}}" autofocus  id="3" [(ngModel)]="item.subAttribute">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="4">{{'permission.value' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="item.value"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



