<div class="layout-topbar">

    <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="layout-topbar-logo">
        <span style="font-size: 2rem;color: white;font-weight: 900;">FAA IRD</span>
    </a>


    <ul class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <img src="assets/layout/images/avatar.png" alt="roma-layout" />
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">Connecté(e) en tant que </span>
                    <span class="layout-profile-name">{{authenticatedUser.email}}</span>
                    <span class="layout-profile-name">{{authenticatedUser.username}}</span>


                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a (click)="edit(authenticatedUser)">
                        <i class="pi pi-user"></i><span class="p-ml-2">Edit Profil</span></a>
                </li>
                <li>
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i><span class="p-ml-2">Log out</span></a>
                </li>
                <li>
                    <a (click)="useLanguage('ar')"><span class="fi fi-sa"></span>Arabe</a>
                </li>
                <li>
                    <a (click)="useLanguage('en')"><span class="fi fi-us"></span>English</a>
                </li>
                <li>
                    <a (click)="useLanguage('fr')"><span class="fi fi-fr"></span>French</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="Edit profil"
          [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'user.tabPan' | translate}}">
                <div class="grid">
                    
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'user.email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText
                               placeholder="{{'user.email' | translate}}" id="3" [(ngModel)]="item.email"
                        />

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="6">{{'user.username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText
                               placeholder="{{'user.username' | translate}}" id="6" [(ngModel)]="item.username"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="7">{{'user.password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText
                               placeholder="{{'user.password' | translate}}" id="7" [(ngModel)]="item.password"
                        />

                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
            <ng-template pTemplate="footer">
                <div class="grid-footer">
                    <div>
                        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined"
                                (click)="hideEditDialog()"></button>
                    </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px"
                                (click)="editUser()"></button>
                    </div>
                </div>
            </ng-template>


</p-dialog>

