        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'modelPermission.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'modelPermission.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'modelPermission.reference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'modelPermission.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validModelPermissionReference}"  />
                                                    <small class='p-error' *ngIf='!validModelPermissionReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'modelPermission.libelle' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'modelPermission.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'modelPermission.permissions' | translate}}">
                                                <div class="p-col">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-5">
                                                                        <label>Action permission</label>
                                                                        <p-dropdown  appendTo="body"  [options]="actionPermissions" [(ngModel)]="permissionsElement.actionPermission"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="reference"
                                                                                     placeholder="Action permission"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateActionPermission('actionPermission')" class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">Sub attribute</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Sub attribute"
                                                                               id="3" [(ngModel)]="permissionsElement.subAttribute" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-6">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="4">Value</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="4"  [(ngModel)]="permissionsElement.value"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPermissions()"></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="p-col">
                                                    <div class="card">
                                                        <p-table [value]="item.permissions" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Action permission</th>
                                                                                <th>Sub attribute</th>
                                                                                <th>Value</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.actionPermission?.reference}}</td>
                                                                                <td>{{p.subAttribute}}</td>
                                                                                <td><i *ngIf="p.value" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.value" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                    <td>
                                                                        <button (click)="deletePermissions(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editPermissions(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                                </div>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>


            <app-action-permission-create-admin></app-action-permission-create-admin>

    </p-dialog>
